@model List<StockSuite.Models.Proposal>
@{
    ViewData["Title"] = "Proposals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="form-control btn btn-primary col-md-4">Submit New Proposal</button>
<br />
<br />
<div class="card-deck">
   <div class="row">
    <div class="card">
            @*<img class="card-img-top" src="" alt="@card.Title">*@
            <div class="card-body">
                <h1 class="card-title"><strong>Community Outreach Program</strong></h1>
                <p class="card-text">
                    Implement a community outreach program where cooperative members actively participate in local events, charitable activities, or educational initiatives. 
                    This not only enhances the cooperative's public image but also strengthens ties with the community........
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>Votes:</strong> 34</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="card-text"><strong>End Date:</strong> @DateTime.Now</p>
                        <p class="card-text"><strong>Status:</strong> Closed </p>
                    </div>
                </div>
                <a href="" class="btn btn-primary">See More...</a>
            </div>
        </div>
        <div class="card">
            @*<img class="card-img-top" src="" alt="@card.Title">*@
            <div class="card-body">
                <h1 class="card-title"><strong>Skill Development Workshops</strong></h1>
                <p class="card-text">
                    Organize skill development workshops within the cooperative, allowing members to share their expertise or learn new skills from one another. 
                    These workshops can cover a range of topics from financial literacy to technical skills, fostering a culture of continuous learning........
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>Votes:</strong> 200</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="card-text"><strong>End Date:</strong> @DateTime.Now</p>
                        <p class="card-text"><strong>Status:</strong> Voting </p>
                    </div>
                </div>
                <a href="" class="btn btn-primary">See More...</a>
            </div>
        </div>
        <div class="card">
            @*<img class="card-img-top" src="" alt="@card.Title">*@
            <div class="card-body">
                <h1 class="card-title"><strong><strong>Wellness Programs</strong></strong></h1>
                <p class="card-text"> Introduce wellness programs that focus on the physical and mental well-being of cooperative members........</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>Votes:</strong> 100</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="card-text"><strong>End Date:</strong> @DateTime.Now</p>
                        <p class="card-text"><strong>Status:</strong> Implementation </p>
                    </div>
                </div>
                <a href="" class="btn btn-primary">See More...</a>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="card">
            @*<img class="card-img-top" src="" alt="@card.Title">*@
            <div class="card-body">
                <h1 class="card-title"><strong>Technology Upgrade</strong></h1>
                <p class="card-text"> Propose a technology upgrade within the cooperative, 
                    suggesting the adoption of modern tools and systems to streamline operations, improve communication, and enhance overall efficiency........</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>Votes:</strong> 34</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="card-text"><strong>End Date:</strong> @DateTime.Now</p>
                        <p class="card-text"><strong>Status:</strong> Closed </p>
                    </div>
                </div>
                <a href="" class="btn btn-primary">See More...</a>
            </div>
        </div>
        <div class="card">
            @*<img class="card-img-top" src="" alt="@card.Title">*@
            <div class="card-body">
                <h1 class="card-title"><strong>Green Initiative</strong></h1>
                <p class="card-text"> Launch a cooperative-wide green initiative to promote sustainability.
                    Members can suggest and implement eco-friendly practices, such as recycling programs, energy conservation efforts, or community gardening projects, aligning the cooperative with environmental stewardship........</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>Votes:</strong> 200</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="card-text"><strong>End Date:</strong> @DateTime.Now</p>
                        <p class="card-text"><strong>Status:</strong> Voting </p>
                    </div>
                </div>
                <a href="" class="btn btn-primary">See More...</a>
            </div>
        </div>
        <div class="card">
            @*<img class="card-img-top" src="" alt="@card.Title">*@
            <div class="card-body">
                <h1 class="card-title"><strong>Microfinance Program</strong></h1>
                <p class="card-text">Establish a microfinance program within the cooperative to provide financial assistance to members interested in starting small businesses or pursuing entrepreneurial ventures. .......</p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-text"><strong>Votes:</strong> 100</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="card-text"><strong>End Date:</strong> @DateTime.Now</p>
                        <p class="card-text"><strong>Status:</strong> Implementation </p>
                    </div>
                </div>
                <a href="" class="btn btn-primary">See More...</a>
            </div>
        </div>
        </div>
</div>
@functions {
    public string Truncate(string input, int length)
    {
        if (input.Length <= length)
            return input;
        else
            return input.Substring(0, length) + " ...";
    }
}